.container {
  background-color: #bababa;
  margin-left: 20px;
  padding: 10px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 25px 1fr;
  align-items: center;
  justify-items: start;
}

.container span {
  color: #171717;
}

.cardName {
  font-weight: bold;
  max-width: 100%;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -ms-text-overflow: ellipsis;
}

.cardStars {
  display: flex;
  justify-self: end;
  align-items: stretch;

  .material-symbols-outlined {
    font-size: 16px;
    margin-left: 3px;
  }
}

.cardDescription {
  grid-column: 1/3;
}
