* {
  font-family: "Dancing Script", cursive;
  font-family: "Itim", cursive;
  font-family: "Roboto", sans-serif;
  color: #7f7f7f;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.App {
  font-size: 14px;
  background-color: #d2d2d2;
  padding: 10px;
  display: grid;
  row-gap: 15px;
  column-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(max(200px, 200px), 1fr));
}
